<section class="row" ng-controller="ChangePasswordController">
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
    <form name="passwordForm" ng-submit="removeUserPassword()" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="currentPassword">Current Password</label>
          <input type="password" id="currentPassword" name="currentPassword" class="form-control" ng-model="passwordDetails.currentPassword" placeholder="Current Password">
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Remove Password</button>
        </div>
        <div ng-show="removed" class="text-center text-success">
          <strong>Password Removed Successfully</strong>
        </div>
        <div ng-show="error" class="text-center text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
