<div ng-controller="AuthenticationController">
  <div class="col-md-offset-1 col-md-7">
    <h3>Let's play!</h3>
    <form name="userForm" ng-submit="signin(userForm.$valid)" class="signin" novalidate autocomplete="off">
      <fieldset>
        <div class="form-group" show-errors>
          <label for="username">Username</label>
          <input type="text" id="username" name="username" class="form-control" ng-model="credentials.username" placeholder="Username" required>
          <div ng-messages="userForm.username.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Username is required.</p>
          </div>
        </div>
        <div class="text-center form-group">
          <button type="submit" class="btn btn-primary">Play</button>
        </div>
        <alert type="danger" ng-show="error" class="text-center">
          <span ng-bind="error"></span>
        </alert>
      </fieldset>
    </form>
  </div>
</div>
