<!-- The rules view -->
<section class="container" ng-controller="RulesController">
  <div class="page-header">
    <h1>Rules Example</h1>
  </div>
  <h3>Rules for a Default Game</h3>
  A game lasts 15 minutes. It is made up of rounds.<br><br>
  Each round has a drawer. All other players in the room are guessers. <br><br>
  <b>The drawer will be given a prompt that only they can see</b>, and have 90 seconds to draw the prompt on the canvas.<br>
  Drawers are not allowed to write letters or numbers. In general, drawers should just draw the prompt instead of trying
  to get around restrictions. However, it is acceptable to split compound words into individual words. For example when
  given the prompt "paper boat", one could draw paper, a plus sign, and a boat. Ultimately, the rules are enforced by the
  room host rather than the game, and if players disagree with the rules of the host, they are encouraged to host their
  own room.<br><br>
  <b>Guessers can make guesses in the guess box</b> while the drawer is drawing.<br>
  All players can see what the guesses are, unless a guess is close to the prompt, in which case the person who made that
  guess will be notified that they are close, and their guess only visible to them. When the prompt is guessed correctly,
  the drawer and the person who guessed correctly will each get N points, where N is the number of players in the room,
  and the remaining time of the round will be cut to 15 seconds, unless it was already less. The drawer will receive an
  additional point for each guesser who guesses correctly after the first, and those guessers will receive one point
  less than the person who guessed correctly before them.<br>
  Each round, drawers are given a "Get Different Prompt" option, which allows them to discard the current prompt and
  draw a new one. They are only allowed to do this once. Drawers are also given the "End Round" option which skips
  their turn if they do not wish to draw. This cannot be used if a guesser has already guessed the prompt.<br><br>
  After the last round, the player with the most points wins!

  <h3> Custom Settings </h3>
  <!--Hosts can modify:
  <list>
    <li> the length of a game to be between 10 and 30 minutes</li>
    <li> the length of a round to be between 30 and 180 seconds</li>
    <li> the remaining length of a round after the prompt is first guessed correctly</li>
  </list>-->
  Coming Soon! ...
  <h3> Custom Game Modes </h3>
  <!--<list>
  <li><b>Co-op mode:</b> Prompts are drawn by teams, whose members are given alternating time slices to contribute to the drawing.</li>
  <li><b>VIM mode:</b> The drawer can only draw using keyboard commands. </li>-->
  Coming Soon! ...
</section>
