<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{url}}{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{url}}modules/core/img/brand/logo.png">

  <!-- Fav Icon -->
  <link href="{{url}}{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body class="ng-cloak">
  <header ng-include="'/modules/core/client/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header>
  <section class="content">
    <section class="container">
      {% block content %}{% endblock %}
    </section>
  </section>

  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>



  <!-- trying to add the canvas javascript" -->
  <script>
    var drawingApp = (function () {
//      TODO: will worry about the script only being called in the chat module later
      if (window.location.href.indexOf("chat") > -1) {
        "use strict";

        var canvas,
          context,
          canvasWidth = 490,
          canvasHeight = 220,
          clickX = [],
          clickY = [],
          clickTool = [],
          clickDrag = [],
          paint = false,
          curTool = "crayon",
          sizeHotspotWidthObject = {
            huge: 39,
            large: 25,
            normal: 18,
            small: 16
          },

        // Clears the canvas.
          clearCanvas = function () {
            context.clearRect(0, 0, canvasWidth, canvasHeight);
          },

        // Redraws the canvas.
          redraw = function () {

            var locX,
              locY,
              i,
              selected,

              drawCrayon = function (x, y, selected) {

                context.beginPath();
                context.moveTo(x + 41, y + 11);
                context.lineTo(x + 41, y + 35);
                context.lineTo(x + 29, y + 35);
                context.lineTo(x + 29, y + 33);
                context.lineTo(x + 11, y + 27);
                context.lineTo(x + 11, y + 19);
                context.lineTo(x + 29, y + 13);
                context.lineTo(x + 29, y + 11);
                context.lineTo(x + 41, y + 11);
                context.closePath();
                context.fill();

              };


            clearCanvas();

            if (curTool === "crayon") {
              drawCrayon(locX, locY, selected);
            }

            // For each point drawn
            for (i = 0; i < clickX.length; i += 1) {

              // Set the drawing path
              context.beginPath();
              // If dragging then draw a line between the two points
              if (clickDrag[i] && i) {
                context.moveTo(clickX[i - 1], clickY[i - 1]);
              } else {
                // The x position is moved over one pixel so a circle even if not dragging
                context.moveTo(clickX[i] - 1, clickY[i]);
              }
              context.lineTo(clickX[i], clickY[i]);


              context.strokeStyle = '#772790'; // Sets pen colour

              context.lineCap = "round";
              context.lineJoin = "round";
              context.lineWidth = 20; // Sets pen width
              context.stroke();
            }
            context.closePath();
            //context.globalCompositeOperation = "source-over";// To erase instead of draw over with white
            context.restore();

            context.globalAlpha = 1; // No IE support
          },

        // Adds a point to the drawing array.
        // @param x
        // @param y
        // @param dragging
          addClick = function (x, y, dragging) {

            clickX.push(x);
            clickY.push(y);
            clickTool.push(curTool);
            clickDrag.push(dragging);
          },

        // Add mouse and touch event listeners to the canvas
          createUserEvents = function () {

            var press = function (e) {
                // Mouse down location
                var sizeHotspotStartX,
                  mouseX = e.pageX - this.offsetLeft,
                  mouseY = e.pageY - this.offsetTop;

                paint = true;
                addClick(mouseX, mouseY, false);
                redraw();
              },

              drag = function (e) {
                if (paint) {
                  addClick(e.pageX - this.offsetLeft, e.pageY - this.offsetTop, true);
                  redraw();
                }
                // Prevent the whole page from dragging if on mobile
                e.preventDefault();
              },

              release = function () {
                paint = false;
                redraw();
              },

              cancel = function () {
                paint = false;
              };

            // Add mouse event listeners to canvas element
            canvas.addEventListener("mousedown", press, false);
            canvas.addEventListener("mousemove", drag, false);
            canvas.addEventListener("mouseup", release);
            canvas.addEventListener("mouseout", cancel, false);

            // Add touch event listeners to canvas element
            canvas.addEventListener("touchstart", press, false);
            canvas.addEventListener("touchmove", drag, false);
            canvas.addEventListener("touchend", release, false);
            canvas.addEventListener("touchcancel", cancel, false);
          },

        // Creates a canvas element, loads images, adds events, and draws the canvas for the first time.
          init = function () {

            window.alert("calling drawingApp.init()");

            // Create the canvas (Neccessary for IE because it doesn't know what a canvas element is)
//          canvas = document.createElement('canvas');
//          canvas.setAttribute('width', canvasWidth);
//          canvas.setAttribute('height', canvasHeight);
//          canvas.setAttribute('id', 'canvas');
//          document.getElementById('canvasDiv').appendChild(canvas);
//          if (typeof G_vmlCanvasManager !== "undefined") {
//            canvas = G_vmlCanvasManager.initElement(canvas);
//          }
            //context = canvas.getContext("2d"); // Grab the 2d canvas context
            // Note: The above code is a workaround for IE 8 and lower. Otherwise we could have used:
            canvas = document.getElementById('canvas');
            if (!canvas) {
              alert('Error: Cannot find the canvas element!');
              return;
            }

            if (!canvas.getContext) {
              alert('Error: Canvas context does not exist!');
              return;
            }
            context = canvas.getContext('2d');

            redraw();
            createUserEvents();
          };

        return {
          init: init
        };
      }
    }());
    // Call init() after DOM is ready
    $(document).ready(function() {
      drawingApp.init();
    });


  </script>

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>
