services:
  - type: web
    name: drawn-together
    env: node
    plan: free
    buildCommand: npm install && npm run build
    startCommand: node build/src/server.js
    domains:
      - u-sketch.com
    envVars:
      - key: NODE_VERSION
        value: 21
