.game-container {
  padding-top: 20px;
  margin: 0;
  /* leave 50 for top bar and 20 for above padding*/
  height: calc(100vh - 50px - 20px);
  min-width: 800px;
  min-height: 540px;
}

@media screen and (min-width: 1200px) {
  .game-container {
    font-weight: 300;
  }
}

.game-page {
  display: flex;
  gap: 2%;
  justify-content: center;
  padding: 2%;
}

.left-column {
  width: 480px;
}

/*
In our UI, all the elements are fixed size except for the 1:1 canvas itself, which flexes based on the screen size.
If we have enough horizontal space, the dimension should be 100vh - middle header height. If we have not enough
horizontal space, the dimension should be (100vw - leftcolumn - rightcolumn)
 */
.middle-column {
  flex-grow: 1; /* Expand to take up remaining space */
  max-width: 80vh; /* Suppose middle header height is 20vh for now */
}
.dt-drawing {
  aspect-ratio: 1; /* Set height to same as width */
  border: 1px solid black;
}

.right-column {
  width: 150px;
}


.left-sidebar {
  display: flex;
  display: -webkit-flex;
  display: -ms-flex;
  flex-direction:column;
  -ms-flex-direction:column;
  -webkit-flex-direction:column;
  height: 100%;
  padding-bottom: 10px;
  min-width: 370px;
  max-width: 600px;
}

.right-sidebar {
  padding-top: 0;
}

.drawing-container {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 10px;
}

.col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}

#topic-selector {
  background-color: #5893E0;
  color: white;
  font-size: 12px;
  height: 35px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
