.lobby-info {
  text-align: center;
}
@media (max-width: 600px) {
  .lobby-info {
    display: none;
  }
}
.lobby-info h4 {
  font-weight: normal;
  margin-bottom: 15px;
}
.leave-lobby {
  margin-top: 5px;
  padding: 7px 14px;
  border: 1px solid #DDDDDD;
  color: #EEEEEE;
  background-color: #535089;
}
.leave-lobby:hover {
  color: white;
  background-color: #2F2D50;
}
