<section class="container" ng-controller="LobbyController">
  <div class="col-xs-12 col-sm-12 col-md-8">
    <h2>Lobby</h2>
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Room</th>
          <th>Host</th>
          <th>Topic</th>
          <th>Players</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="room-listing" ng-if="!rooms.length">
          <td>There aren't any rooms open. <a href="javascript:document.getElementById('roomName').focus()">Create your own!</a></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="room-listing" ng-repeat="room in rooms">
          <td><span ng-bind="room.name"></span></td>
          <td><span ng-bind="room.host"></span></td>
          <td><span ng-bind="room.topic"></span></td>
          <td><span ng-bind="room.numPlayers"></span> / <span ng-bind="room.maxNumPlayers"></span></td>
          <td><button class="btn btn-primary btn-sm btn-block" ng-click="joinRoom(room.name)" value="Join">Join</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-4">
    <h2 id="create-room">Create Room</h2>
    <form ng-submit="createRoom(roomName)">
      <!-- Room Name -->
      <div class="form-group">
        <label for="roomName">Room Name</label>
        <input autocomplete="off" type="text" id="roomName" name="roomName" class="form-control" ng-model="roomName" ng-trim="false" ng-change="error = ''" maxlength="{{GameSettings.MAX_ROOM_NAME_LENGTH}}" placeholder="Room Name">
      </div>
      <button type="submit" value="Create Room" class="btn btn-primary">Create Room</button>
    </form>
    <span class="error-message" ng-bind="error"></span>
  </div>
</section>
