.content {
  margin-top: 50px;
}
.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.header-profile-image {
  opacity: 0.8;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 5px;
}
.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}

/* CUSTOM CSS */

/* Fixes capitalisation in sign-up and sign-in forms. */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  text-transform: capitalize;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  text-transform: capitalize;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  text-transform: capitalize;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  text-transform: capitalize;
}

/* Makes ng-click buttons clickable. */
[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}