<!-- The chat view -->

  <div class="page-header">
    <h1>Chat Example</h1>
  </div>
  <div class="col-xs-12 col-md-3">
    <p>Right sidebar (for later?)</p>

    <p> Might have details of rooms/lobbies as well as who is online in that room</p>
  </div>
  <div class="col-xs-12 col-md-6">
    <h3 class="text-center">Canvas goes here</h3>


    <div id="canvasDiv"></div>
    <!--<script type="text/javascript" src="../../../../scripts/chat.client.view.js"></script>-->
    <script>
      drawingApp.init();
    </script>

  </div>

<section class="container" ng-controller="ChatController">
  <!-- The message form -->
  <div class="col-xs-12 col-md-3">
    <form class="col-xs-12 col-md-12" ng-submit="sendMessage();">
      <fieldset class="row">
        <div class="input-group">
          <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText"
                 placeholder="Enter new message">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-disabled="!messageText.length">Submit</button>
            </span>
        </div>
      </fieldset>
    </form>

    <ul class="list-unstyled">
      <!-- List all messages -->
      <li class="col-xs-12 col-md-12 chat-message" ng-repeat="message in messages">
        <small class="pull-right text-muted" ng-bind="message.created | date:'mediumTime'"></small>
        <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left chat-profile-image"/>

        <div class="pull-left chat-message-details">
          <strong ng-bind="message.username"></strong>
          <br>
          <span ng-bind="message.text"></span>
        </div>
      </li>
    </ul>
  </div>
</section>




