<!-- The game view -->
<section class="container game-container" ng-controller="GameController">
  <!-- Left column -->
  <div class="col-md-4">
    <h3>Players</h3>
    <ul class="list-unstyled">

      <li class="row" ng-repeat="user in Game.userList">
        <div class="col-xs-1 col-md-3">
          <img ng-src="{{Game.getUserProfileImage(user)}}" alt="{{user}}" class="game-profile-image"/>
        </div>
        <div class="col-xs-6 col-md-6">
          <div ng-class="{'game-drawer': Game.isDrawer(user)}"><span ng-bind="user"></span></div>
        </div>
        <div class="col-md-1">
          <div ng-if="Game.isDrawer(user)"><strong ng-bind="'(' + Game.users[user].score.toString() + ')'"></strong></div>
          <div ng-if="!Game.isDrawer(user)"><span ng-bind="'(' + Game.users[user].score.toString() + ')'"></span></div>
        </div>
      </li>
    </ul>

    <!-- Chat stuff -->
    <div class="chat-container">
      <div class="game-message-box" scroll-glue>
        <ul class="list-unstyled">
          <!-- List all messages -->
          <li class="col-xs-12 col-md-12 game-message wordwrap" ng-class="message.class" ng-repeat="message in messages">
            <span ng-bind="message.username" class="username"></span>
            <span class="message-text" ng-bind="message.text"></span>
            <div class="game-message-addon" ng-bind="message.addon"></div>
          </li>
        </ul>
      </div>

      <!-- The message form -->
      <div class="message-form col-xs-12 col-md-12">
        <form class="col-xs-12 col-md-12" ng-submit="sendMessage()">
          <fieldset class="row">
            <div class="input-group col-xs-12 col-md-12">
              <input ng-disabled="Game.isDrawer(username)" type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" ng-trim="false" maxlength="{{ChatSettings.MAX_MSG_LEN}}" placeholder="Enter new message">
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

  <!-- The middle column -->
  <div class="col-md-5" >
    <h3 class="drawing-header">
      <span ng-bind="Game.currentRound < Game.numRounds ? 'Round ' + (Game.currentRound + 1) + ':' : 'Game over!'"></span>
      <span ng-if="Game.getDrawers().length" ng-bind="Game.isDrawer(username) ? 'Draw &quot;' + topic + '&quot;' : Utils.toCommaListIs(Game.getDrawers()) + ' drawing'"></span>
      <button class="pull-right" ng-disabled="!Game.isDrawer(username) || Game.correctGuesses !== 0" ng-click="finishDrawing()">Give up</button>
    </h3>
    <div class="dt-drawing"></div>
  </div>

  <!-- Right column -->
  <div class="toolbox col-md-3">
    <!-- Draw tools -->
    <div class="grid">
      <div class="grid-row" ng-repeat="drawToolRow in drawTools">
        <div ng-class="{'grid-cell': true, 'draw-tool': true, 'selected': $parent.$parent.mouseMode === drawTool.type}"
             ng-attr-title="{{drawTool.type}}"
             ng-click="$parent.$parent.mouseMode = drawTool.type"
             ng-repeat="drawTool in drawToolRow">
          <div class="draw-tool-content"><i class="fa fa-{{drawTool.glyph}}"></i></div>
        </div>
      </div>
    </div>

    <!-- Size slider -->
    <div>
      <i class="fa fa-circle"></i>
      <i class="fa fa-circle fa-2x"></i>
      <i class="fa fa-circle fa-3x"></i>
      <input class="size-slider" type="range" ng-model="drawWidth[mouseMode]"  min="{{CanvasSettings.MIN_DRAW_WIDTH}}" max="{{CanvasSettings.MAX_DRAW_WIDTH}}">
      <p>Size</p>
    </div>

    <!-- Colour palette -->
    <div class="grid">
      <div class="grid-row" ng-repeat="paletteRow in paletteColours">
        <div ng-class="{'grid-cell': true, 'palette-colour': true, 'selected': $parent.$parent.penColour === paletteColour.value}"
             ng-style="{'background-color': paletteColour.value}"
             ng-attr-title="{{paletteColour.title}}"
             ng-click="$parent.$parent.penColour = paletteColour.value"
             ng-repeat="paletteColour in paletteRow">
        </div>
      </div>
      <div class="custom-palette-colour-wrapper">
        <div colorpicker ng-model="selectCustomColour" ng-model-options="{getterSetter: true}" colorpicker-position="right"
             ng-class="{'grid-cell': true, 'palette-colour': true, 'custom-palette-colour': true, 'selected': penColour === penColourCustom}"
             ng-style="{'background-color': penColourCustom}"
             ng-click="penColour = penColourCustom">
        </div>
      </div>
      <p>Custom colour</p>
    </div>

    <!-- Undo/redo -->
    <div class="grid">
      <div class="grid-row">
        <div ng-class="{'grid-cell': true, 'draw-tool': true}"
             title="undo"
             ng-click="$parent.$parent.undo()">
          <div class="draw-tool-content"><i class="fa fa-undo"></i></div>
        </div>
        <div ng-class="{'grid-cell': true, 'draw-tool': true}"
             title="redo"
             ng-click="$parent.$parent.redo()">
          <div class="draw-tool-content"><i class="fa fa-repeat"></i></div>
        </div>
      </div>
    </div>
    <!-- Clear canvas -->
    <div><button class="btn btn-info" id="clear-canvas" ng-disabled="!Game.isDrawer(username)" ng-click="clearDrawing()">Clear Canvas</button></div>
  </div>
</section>
