<!-- The game view -->
<section class="container" ng-controller="GameController">
  <div class="page-header">
    <h1>Game Example</h1>
  </div>
  <div class="col-xs-12 col-md-3">
    <h3>Connected Users</h3>
    <ul class="list-unstyled">
      <!-- List all messages -->
      <li class="col-xs-12 col-md-offset-4 col-md-4" ng-repeat="user in users">
        <div class="pull-left">
          <div ng-if="user.drawer"><strong ng-bind="user.username"></strong></div>
          <div ng-if="!user.drawer"><span ng-bind="user.username"></span></div>
        </div>
      </li>
    </ul>
    <button ng-disabled="!isDrawer()" ng-click="finishDrawing();">Finish Drawing</button>
  </div>

  <!-- Chat stuff -->
  <div class="col-xs-12 col-md-3" style="border:1px solid #d3d3d3;padding:0px;">
    <div class="game-message-box" style="margin:0px;" scroll-glue>
      <ul class="list-unstyled">
        <!-- List all messages -->
        <li class="col-xs-12 col-md-12 game-message" ng-repeat="message in messages">
          <small class="pull-right text-muted" am-time-ago="message.created"></small>
          <img ng-src="{{message.profileImageURL}}" alt="{{message.username}}" class="pull-left game-profile-image" />
          <div class="pull-left game-message-details">
            <strong ng-bind="message.username"></strong>
            <br>
            <span class="wordwrap" ng-bind="message.text"></span>
          </div>
        </li>
      </ul>
    </div>

    <!-- The message form -->
    <div style="padding:5px;" class="col-xs-12 col-md-12">
      <form class="col-xs-12 col-md-12" ng-submit="sendMessage();">
        <fieldset class="row">
          <div class="input-group col-xs-12 col-md-12">
            <input type="text" id="messageText" name="messageText" class="form-control" ng-model="messageText" placeholder="Enter new message">
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="col-xs-12 col-md-6" >
    <h3 class="text-center">Canvas goes here</h3>
    <canvas dt-drawing id="canvas" width="500" height="500" style="border:1px solid #d3d3d3;"></canvas>
  </div>
</section>
