.drawing-header {
  text-align: center;
  font-size: 2em;
  height: 2em;
}

.dt-drawing {
  position: relative;
  outline: 1px solid black;
  cursor: none;
  width: 400px;
  height: 400px;
}

.dt-drawing-layer {
  position: absolute;
}

