.drawing-container {
  display: flex;
  flex-direction: column;
}

.drawing-header {
  display: table-row;
  height: 52px; /* Set the height fixed so that elements below do not jump when content is loaded */
  width: 100%;
}

.drawing-header-text {
  display: table-cell;
  font-size: 26px;
  vertical-align: middle;
  width: 100%;
}
.drawing-header-buttons {
  display: table-cell;
  vertical-align: middle;
}

.dt-drawing {
  position: relative;
  border: 1px solid black;
  width: 100%;
  height: 600px;
}

.dt-drawing-layer {
  position: absolute;
}

.drawing-time-left {
  display: table-row;
  border: 1px solid white;
  height: 15px;
  width: 100%;
}
.drawing-round-time {
  background-color: lightgreen;
  height: 100%;
}
.drawing-guessed-time {
  background-color: lightgrey;
  height: 100%;
}

