.game-container {
  padding-top: 20px;
  margin: 0;
  /* leave 50 for top bar and 20 for above padding*/
  height: calc(100vh - 50px - 20px);
}

.left-sidebar {
  display: -webkit-flex;
  display: flex;
  flex-direction:column;
  height: 100%;
  padding-bottom: 10px;
  min-width: 425px;
}
