button:disabled {
  color: grey;
}

.chat-container {
  border: 1px solid #d3d3d3;
  padding: 0px;
}

.game-message-box {
  height: 500px;
  overflow-y: scroll;
  margin: 0px;
}

.game-message.status, .game-message.status-correct {
  background-color: #f5f5f5;
}
.game-message.close-guess {
  background-color: #ffff80;
}
.game-message.correct-guess {
  background-color: #99ff75;
}
.game-message:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}

.game-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
/* server is ChatSettings.SERVER_NAME*/
.game-profile-image.server {
  height: 0px;
  width: 0px;
}

.game-message-details {
  /* The margin-left is for padding when there is a profile image*/
  margin-left: 10px;
  font-size: 12px;
}
/* Align all server/status messages to the very left */
.game-message-details.status, .game-message-details.status-correct {
  margin-left: 0px;
  font-size: 12px;
}
.game-message-details.close-guess:after {
  /* Fixes up username aligning with the second line instead of
  the first when "\n" is used inside message.text */
  content: "\aYour guess is close!";
  white-space: pre;
}

.username {
  font-weight: bold;
}
.username.status, .username.status-correct {
  font-size: 0px;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-break: break-all;      /* This is the important one */
  word-wrap: break-word;      /* IE */
  display: inline-block;      /* Firefox and IE */
}
.wordwrap.status-correct {
  font-weight: bold;
}
.wordwrap.status-correct:after {
  font-weight: normal;
  content: " has guessed the prompt!\aThe round will end in 20 seconds.";
  white-space: pre;
}

.message-form {
  padding: 5px;
}

.canvas {
  border: 1px solid #d3d3d3;
}

[colorpicker] {
  margin-bottom: 200px;
}
