.game-message {
  padding-top: 10px;
  padding-bottom: 10px;
}
.game-message.status {
  background-color: #f5f5f5;
}
.game-message.close-guess {
  background-color: #ffff80;
}
.game-message.correct-guess {
  background-color: #99ff75;
}
.game-message:not(:first-child) {
  border-top: 1px solid #e7e7e7;
}
.game-message-details {
  margin-left: 10px;
  font-size: 12px;
}
.game-profile-image {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}
.game-message-box {
  height: 500px;
  overflow-y: scroll;
}

button:disabled {
  color: grey;
}

/* Source: http://snipplr.com/view/10979/css-cross-browser-word-wrap */
.wordwrap {
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-break: break-all;      /* This is the important one */
  word-wrap: break-word;      /* IE */
  display: inline-block;      /* Firefox and IE */
}

[colorpicker] {
  margin-bottom: 200px;
}

.canvas {
  border: 1px solid #d3d3d3;
}

.chat-container {
  border: 1px solid #d3d3d3;
  padding: 0px;
}

.game-message-box {
  margin: 0px;
}

.message-form {
  padding: 5px;
}
