.lobby-info {
  text-align: center;
}
.lobby-info h4 {
  margin: 0;
  font-weight: normal;
}
.lobby-info h5 {
  margin-top: 5px;
  margin-bottom: 15px;
}
.leave-lobby {
  padding: 7px 14px;
  border: 1px solid #DDDDDD;
  color: #EEEEEE;
  background-color: #535089;
}
.leave-lobby:hover {
  color: white;
  background-color: #2F2D50;
}
