.start-game-div {
    padding-top: 30px;
    text-align: center;
}

.pregame-group {
    /* Doesn't fix cursor flashing into a pointer. */
    cursor: default;
}

.pregame-display-game:hover, .pregame-display-game:active, .pregame-display-game:active:hover,
.pregame-display-game:active:hover:focus, .pregame-display-game:focus, .pregame-display-game:focus:active,
.pregame-display-game:focus:hover {
    color: #ffffff;
    background-color: #3fb618;
    border-color: #3fb618;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pregame-display-game.active:hover {
    color: #ffffff;
    background-color: #2f8912;
    border-color: #2c8011;
    cursor: default;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.pregame-display-topic:hover, .pregame-display-topic:active, .pregame-display-topic:active:hover,
.pregame-display-topic:active:hover:focus, .pregame-display-topic:focus, .pregame-display-topic:focus:active,
.pregame-display-topic:focus:hover {
    color: #ffffff;
    background-color: #ff7518;
    border-color: #ff7518;
    cursor: default;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.pregame-display-topic.active:hover {
    color: #ffffff;
    background-color: #e45c00;
    border-color: #da5800;
    cursor: default;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
