button:disabled {
  color: grey;
}

.toolbox > div {
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.size-triangle {
  width: 0;
  height: 0;
  border-bottom: 30px solid grey;
  border-left: 90px solid transparent;
  margin: 0 auto;
}

.toolbox .size-slider {
  margin: 0 auto;
  width: 90px;
}
