[colorpicker] {
  margin-bottom: 200px;
}

button:disabled {
  color: grey;
}

.palette {
  display: table;
}

.palette-row {
  display: table-row;
  margin: 0;
}

.palette-colour {
  display: inline-block;
  vertical-align: top;
  border: 2px solid lightgrey;
  background-clip:content-box;
  padding: 2px;
  margin: 3px;
  width: 25px;
  height: 25px;
}

.palette-colour.selected {
  border: 3px solid black;
}

.custom-palette-colour {
  margin-right: 5%;
  width: 95%;
  height: 40px;
}
