[colorpicker] {
  margin-bottom: 200px;
}

button:disabled {
  color: grey;
}

.toolbox {
  border: 1px dashed grey;
}

.toolbox > div {
  border: 1px dashed grey;
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#size-slider {
  width: 90px;
  margin: 0 auto;
}

.grid {
  display: table;
}

.grid-row {
  display: table-row;
  margin: 0;
}

.grid-cell {
  display: inline-block;
  vertical-align: top;
}

.draw-tool {
  border: 2px solid lightgrey;
  background-clip:content-box;
  padding: 2px;
  margin: 3px;
  width: 35px;
  height: 35px;
}
.draw-tool.selected {
  border: 3px solid black;
}
.draw-tool-content {
  font-size: 20px;
  text-align: center;
  padding-top: 1px;
}

.palette-colour {
  border: 2px solid lightgrey;
  background-clip:content-box;
  padding: 1px;
  margin: 3px;
  width: 25px;
  height: 25px;
}
.palette-colour.selected {
  border: 3px solid black;
}

.custom-palette-colour {
  margin-right: 5%;
  width: 95%;
  height: 40px;
}

#clear-canvas {
  width: 90px;
  height: 50px;
  text-align: center;
}
