<section class="row" ng-controller="AuthenticationController">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-4 text-center">
    <h3>Meet Drawn Together</h3>
    <p>Mi ad tempor habitasse parturient lacinia mi duis tellus sagittis id a eleifend parturient ullamcorper potenti hac suspendisse. Enim condimentum potenti rutrum penatibus consequat aenean orci commodo vestibulum et vestibulum primis a conubia eleifend id a. Curae lacus a ad adipiscing quisque leo augue sed enim parturient est per arcu vitae. Quisque vulputate ipsum iaculis orci etiam eu posuere risus elit dolor vestibulum hendrerit suspendisse urna ante tincidunt vestibulum curabitur proin adipiscing. Accumsan placerat suspendisse parturient habitasse cum maecenas aptent non ultrices scelerisque sit tempor quisque suspendisse.</p>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-6 text-center">
    <div ui-view></div>
  </div>
</section>
