<section class="row" ng-controller="AuthenticationController">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-5 text-left">
    <h3>Drawn Together</h3>
    <p>Play online pictionary with your friends! Each person will take turns drawing a word which everyone else tries to guess in the time limit. The person with the most points wins.</p>
    <p>You can choose your own game settings and enter your own custom word lists!</p>
    <p>Be drawn together by the fun!</p>
    <div class="thumbnail"><img src="modules/game/client/img/demo.png"/>
    </div>
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-1 col-md-5 text-center">
    <div ui-view></div>
  </div>
</section>
