<section class="row" ng-controller="AuthenticationController">
  <div class="col-md-6 text-center">
    <h3>Pictionary on Steroids</h3>
    <p>thing</p>
    <p>otger</p>
  </div>
  <div class="col-md-6 text-center">
    <h3>Sign in using your social accounts</h3>
    <img width="5%" ng-click="callOauthProvider('/api/auth/facebook')" ng-src="/modules/users/client/img/buttons/facebook.png">
    <img width="5%" ng-click="callOauthProvider('/api/auth/twitter')" ng-src="/modules/users/client/img/buttons/twitter.png">
    <img width="5%" ng-click="callOauthProvider('/api/auth/google')" ng-src="/modules/users/client/img/buttons/google.png">
    <img width="5%" ng-click="callOauthProvider('/api/auth/linkedin')" ng-src="/modules/users/client/img/buttons/linkedin.png">
    <img width="5%" ng-click="callOauthProvider('/api/auth/github')" ng-src="/modules/users/client/img/buttons/github.png">
    <img width="5%" ng-click="callOauthProvider('/api/auth/paypal')"  ng-src="/modules/users/client/img/buttons/paypal.png">
    <div ui-view></div>
  </div>
</section>
